<app-menu></app-menu>
<h3 class="text-center text-primary">{{title}}</h3> 
<hr>
<form>
    <div class="container">
        <div class="center-div">
            <br>
            <mat-form-field>
                <mat-label>Nombre de la tienda</mat-label>
                <input matInput id="ecommname" [(ngModel)]="ecommname" name="ecommname">
            </mat-form-field>

            <br>

            <mat-form-field>
                <mat-label>Estatus</mat-label>
                <mat-select id="status" [(ngModel)]="status" name="status">
                    <mat-option value="Activa">Activa</mat-option>
                    <mat-option value="Parado">Parado</mat-option>
                </mat-select>
            </mat-form-field>

        </div>
 
        <br/>
        <div class="text-center">
            <button (click)="guardar()" type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </div>
    <!-- Modal Bootstrap -->
    <div class="modal fade" id="miModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">    
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">{{tituloModal}}</h5>
            </div>
            <div class="modal-body">
                {{infoModal}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
            </div>
            </div>
        </div>
    </div>
</form>
