<app-menu></app-menu>
<form>
    <div class="container">
        <br/>
        <h3 class="text-center text-primary">{{title}}</h3> 

        <div class="center-div">

            <div class="form-group">
                <label for="ecommname">Nombre de tienda</label>
                <input type="text" class="form-control" id="ecommname" [(ngModel)]="ecommname" name="ecommname" >
            </div>

            <div class="form-group">
                <label for="status">Estatus</label>
                <select class="form-select" id="status" [(ngModel)]="status" name="status">
                    <option value="Exito">Éxito</option>
                    <option value="Fallidas">Fallidas</option>
                </select>
            </div>

        </div>
        
        <br/>
        <div class="text-center">
            <button (click)="guardar()" type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </div>
    <!-- Modal Bootstrap -->
    <div class="modal fade" id="miModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">    
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">{{tituloModal}}</h5>
            </div>
            <div class="modal-body">
                {{infoModal}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
            </div>
            </div>
        </div>
    </div>
</form>
