.text-center, th, #url, #num {
    text-align: center;
  }

.custom-width {
    width: 50%; 
    margin: 0 auto; 
  }

  #monto, #montototal {
    text-align: right;
  }

  .highlight {
    background-color: yellow;
  }

  .text-search{
    padding-top: 20px;
    padding-left: 10px;
  }
  
 