<app-menu></app-menu>
<h3 class="text-center text-primary">{{title}}</h3>
<hr>
<!--table id="datos" class="table table-hover table-bordered custom-width">
    <thead>
        <tr>
        <th>#</th>
        <th>ECOMM</th>
        <th>Estatus</th>
        <th>Fecha Creacion</th>
        </tr>
    </thead>
    <tbody>
        @for(ec of listEcomm; track ec.ECOMMID){
            
                <tr>
                    @if (ec.ORDERCUST == 'Fallidas') {
                        <td id="num" class="highlight">{{ ec.ECOMMID }}</td>
                        <td class="highlight">{{ ec.ECOMMNAME }}</td>
                        <td class="highlight">{{ ec.ORDERCUST }}</td>
                        <td class="highlight">{{ ec.CREATEDDATERP }}</td>
                    } @else {
                        <td id="num">{{ ec.ECOMMID }}</td>
                        <td>{{ ec.ECOMMNAME }}</td>
                        <td>{{ ec.ORDERCUST }}</td>
                        <td>{{ ec.CREATEDDATERP }}</td>
                    }
                </tr>
        }
        <tr>
           
        </tr>
    </tbody>
</table!-->
<div class="container mt-2">

  <div class="text-search">
      <mat-form-field>
          <mat-label>Buscar</mat-label>
          <input matInput placeholder="Ingrese Información" [(ngModel)]="searchText" (keyup)="onInputChange()">
      </mat-form-field>
      <img src="Buscar.jpg" class="ecomm-img" matTooltipClass="search-tooltip" matTooltip="Ingrese frase a filtrar" matTooltipPosition="right" matTooltipShowDelay="500" matTooltipHideDelay="1000">
  </div>

  <div class="d-flex">
    
    <div class="form-group">
      <label for="nro" matTooltip="Número Items" matTooltipPosition="right">Nro.</label>
      <input type="text" id="nro" readonly class="form-control mr-2" aria-label="nro" aria-describedby="basic-addon1" [ngClass]="{'highlight': selectedRow.ORDERCUST.toUpperCase() === 'FALLIDAS'}" [(ngModel)]="selectedRow.ECOMMID">
    </div>

    <div class="form-group">
      <label for="ecommname" matTooltip="Nombre Tienda" matTooltipPosition="right">Nombre de Tienda</label>
      <input type="text" id="ecommname" readonly class="form-control mr-2" aria-label="ecommname" aria-describedby="basic-addon1" [ngClass]="{'highlight': selectedRow.ORDERCUST.toUpperCase() === 'FALLIDAS'}" [(ngModel)]="selectedRow.ECOMMNAME">
    </div>

    <div class="form-group">
      <label for="ordercust" matTooltip="Estatus" matTooltipPosition="right">Estatus</label>
      <input type="text" id="ordercust" readonly class="form-control mr-2" aria-label="ordercust" aria-describedby="basic-addon1" [ngClass]="{'highlight': selectedRow.ORDERCUST.toUpperCase() === 'FALLIDAS'}" [(ngModel)]="selectedRow.ORDERCUST">
    </div>

    <div class="form-group">
      <label for="createddaterp" matTooltip="Fecha Creación" matTooltipPosition="right">Fecha</label>
      <input type="text" id="createddaterp" readonly class="form-control mr-2" aria-label="createddaterp" aria-describedby="basic-addon1" [ngClass]="{'highlight': selectedRow.ORDERCUST.toUpperCase() === 'FALLIDAS'}" [(ngModel)]="selectedRow.CREATEDDATERP">
    </div>

  </div>
  
  <hr>

  <div>
      <table mat-table [dataSource]="listEcommDataSource" class="mat-elevation-z8 table table-hover" matSort (matSortChange)="sortData($event)">

          <ng-container matColumnDef="ECOMMID">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="ECOMMID"> Nro. </th>
            <td id="num" mat-cell *matCellDef="let element" (click)="selectRow(element)" [ngClass]="{'highlight': element.ORDERCUST.toUpperCase() === 'FALLIDAS'}"> {{element.ECOMMID}} </td>
          </ng-container>
        
          <ng-container matColumnDef="ECOMMNAME">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="ECOMMNAME"> Nombre de Tienda </th>
            <td mat-cell *matCellDef="let element" (click)="selectRow(element)" [ngClass]="{'highlight': element.ORDERCUST.toUpperCase() === 'FALLIDAS'}"> {{element.ECOMMNAME}} </td>
          </ng-container>
        
          <ng-container matColumnDef="ORDERCUST">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="ORDERCUST"> Estatus </th>
            <td mat-cell *matCellDef="let element" (click)="selectRow(element)" [ngClass]="{'highlight': element.ORDERCUST.toUpperCase() === 'FALLIDAS'}"> {{element.ORDERCUST}} </td>
          </ng-container>
        
          <ng-container matColumnDef="CREATEDDATERP">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="CREATEDDATERP"> Fecha </th>
            <td mat-cell *matCellDef="let element" (click)="selectRow(element)" [ngClass]="{'highlight': element.ORDERCUST.toUpperCase() === 'FALLIDAS'}"> {{element.CREATEDDATERP}} </td>
          </ng-container>
          
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 15, 20]"
                      showFirstLastButtons
                      aria-label="Select page">
        </mat-paginator>
  </div>

</div>
