<!--nav>
    <a routerLink="/tiendas">Tiendas</a>
    |
    <a routerLink="/sistemasoperativos">SO</a>
</nav!-->

<button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/">Iniciar Sesión</button>
  <button mat-menu-item routerLink="/agregar-tiendas">Agregar Tiendas</button>
  <button mat-menu-item routerLink="/tiendas">Listado Tiendas</button>
  <button mat-menu-item routerLink="/grafico">Gráfico Estatus Tiendas</button>
  <!--button mat-menu-item routerLink="/sistemasoperativos">Sistemas Operativos</button!-->
</mat-menu>
