<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
  <mat-icon>menu</mat-icon>
</button>

<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/">
    <mat-icon>account_circle</mat-icon>
    <span>Iniciar Sesión</span>
  </button>
  <button mat-menu-item routerLink="/agregar-tiendas">
    <mat-icon>add_circle</mat-icon>
    <span>Agregar Tiendas</span>
  </button>
  <button mat-menu-item routerLink="/tiendas">
    <mat-icon>store</mat-icon>
    <span>Listado Tiendas</span>
  </button>
  <button mat-menu-item routerLink="/grafico">
    <mat-icon> pie_chart</mat-icon>
    <span>Gráfico Estatus Tiendas</span>
  </button>
  <button mat-menu-item disabled routerLink="/sistemasoperativos">
    <mat-icon>devices</mat-icon>
    <span>Sistemas Operativos</span>
  </button>
</mat-menu>