<!--nav>
    <a routerLink="/tiendas">Tiendas</a>
    |
    <a routerLink="/sistemasoperativos">SO</a>
</nav!-->

<button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/">Iniciar Sesión</button>
  <button mat-menu-item routerLink="/tiendas">Listado Ecommname</button>
  <button mat-menu-item routerLink="/grafico">Gráfico Estatus Ecommname</button>
  <button mat-menu-item routerLink="/sistemasoperativos">Sistemas Operativos</button>
</mat-menu>
